#heading {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#container {
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#options {
    display: flex;
    justify-content: space-between;
}

#options > * {
    cursor: pointer;
    user-select: none;
}

#options > *:hover {
    color: rgb(100, 100, 100);
}

#content {
    display: grid;
    gap: 10px;
}

#upload-image-button {
    display: none;
}

#art-container {
    display: none;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    white-space: pre;
    margin-top: 30px;
    margin-bottom: 30px;
}

#inner-container {
    display: none;
    border: 1px solid black;
}