#display {
    white-space: pre;
    font-family: 'Courier New';
    text-align: center;
    width: 100%;
    overflow: auto;
    
}

#title {
    border-top: 2px solid whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 20px;
    padding-top: 10px;
}

#date {
    border-bottom: 2px solid whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 20px;
    padding-bottom: 10px;
    color: gray;
}

.error {
    color: red;
}

#likes {
    margin: 20px;
    display: none;
    justify-content: center;
    align-items: center;
}

#like-button {
    width: 2em;
    height: 2em;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
}

#like-button:focus {
    outline: 0;
}

#like-count {
    font-weight: bold;
    font-size: 30px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.user-liked {
    color: gold;
    border-color: gold;
}

#creator {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 20px 4px;
    color: gray;
}