#heading {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}

#container {
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
}

#content {
    display: grid;
    grid-auto-rows: 30px;
    gap: 10px;
}

.error {
    color: rgb(255, 0, 0);
    text-align: center;
}

.success {
    color: rgb(0, 165, 0);
    text-align: center;
}

#keywords {
    display: none;
}

#name {
    height: auto;
}

body {
    background-color: rgb(119, 53, 139);
}